.listToDo {
    text-decoration: none;
    list-style: none;
    position: absolute;
    left: 2px;
    top: 2px;
    height: 90vh;
    width: 20vw;
    overflow: auto;
    scrollbar-color: lightblue;
}
