.was {
    color: red;
    text-decoration: line-through;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.will {
    color: #1a76d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnDeleteTask {
    &:hover {
        transform: scale(1.1);
    }
}
